*{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #1E1E1E !important;
}
.container{
    max-width: 1200px !important;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
input[type=checkbox]{
    cursor: pointer;
}


.pageone>.container>.header{
    padding-top: 10px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #c0c0c067 ;
    padding-bottom: 10px;
}
.pageone>.container>.header>.logo{
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 40px;
}
.pageone>.container>.header>.nav>ul{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding:0px 10px 0px 10px ;
    margin-bottom: 0px;
}
.pageone>.container>.header>.nav>ul>li>a{
    display: block;
    color: white;
    text-align: center;
    padding: 0px  15px 0px 15px;
    line-height: 20px;
    text-transform: capitalize;
    background-color: rgba(217, 217, 217, 0.08);
    border-radius: 10px;
    font-weight: 600;
    height: 30px;
    line-height: 28px;

}
.pageone>.container>.header>.nav>ul>li:nth-child(1)>a{
    border: solid 2px transparent;
}   
.pageone>.container>.header>.nav>ul>li:nth-child(2)>a{
    border: solid 2px transparent;
    width: 120px;
    background-color: #fec007;
    color: #1E1E1E;
}

.pageone>.container>.header>.nav>ul>li:nth-child(1)>a:hover
,.pageone>.container>.header>.nav>ul>li:nth-child(2)>a:hover{
    border: solid 2px white;
}
@media (max-width:600px){
    
}
.pageone>.container>.searchbar{
    margin-top: 40px;
    display: flex;
    max-width: 75%;
    margin: auto;
    margin-top: 40px;
    height: 40px;
    background-color: #1E1E1E;
    border: 0px solid transparent;
    border-radius: 5px;
    outline: 0.5px solid #eeeeee6a;
    padding-left: 10px;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
    color: white;
}
.pageone>.container>.searchbar>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    outline: solid transparent 2px; 
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    width: 35%;
    cursor: pointer;
}
.pageone>.container>.searchbar>div:hover{
    background-color: #fbbc000e;
    outline: #FEC107 solid 2px; 

}
.pageone>.container>.searchbar>div>h3{
    font-size: 12px;
    margin-bottom: 0px;
}
.pageone>.container>.searchbar>.one{
    border-left: 0px solid #1E1E1E;
}
.pageone>.container>.searchbar>.three{
   width:50%;
}
.pageone>.container>.searchbar>div>i{
    font-size: 25px;
    color: #FEC107;
}
#right{
    font-size: 15px;
    margin-left: 5px;
}
.pageone>.container>.searchbar>div:nth-child(4){
    background-color: #FEC107;
    width:80px;
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 0px;
    height:40px;
    cursor: pointer;
}
.pageone>.container>.searchbar>div:nth-child(4)>i{
    color: #fec107;
    font-size: 25px;
    margin: auto;
    color: #1E1E1E;
}
@media (max-width:850px) {
    .pageone>.container>.searchbar{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: max-content;
        width:100%;
    }
    .pageone>.container>.searchbar>div{
        margin: auto;
        border: 0px;
        width: 100%;
    }
    .pageone>.container>.searchbar>.three{
        width: 100%;
    }
}
/*contenu start */
.pageone>.container>.contenu{
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 50px;
    margin-bottom: 40px;
}

/*contenu end*/

.pageone>.container>.contenu>.sidebar{
    height: max-content;
    width: 280px;
    /*border: 0.5px solid #eeeeee6a;
    border-radius: 20px;*/
    color: white;
}
.pageone>.container>.contenu>.sidebar>h4{
    font-size: 16px;
    font-weight: 300;
    border: 0.5px solid  #eeeeee6a;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 20px 0px;
    
}
.pageone>.container>.contenu>.sidebar>div{
    font-size: 16px;
    font-weight: 300;
    border-top: 0.5px solid  #eeeeee6a;
    border-right: 0.5px solid  #eeeeee6a;
    border-left: 0.5px solid  #eeeeee6a;
    border-bottom: 0.5px solid  #eeeeee6a;
    padding: 10px 10px 10px 10px;
}
.pageone>.container>.contenu>.sidebar>.one{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.pageone>.container>.contenu>.sidebar>.one>p{
    font-weight: 500;
}
.pageone>.container>.contenu>.sidebar>.one>.range{
    width: 100%;
    margin: auto;
}
/*styling the rang input start  */
input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: #1E1E1E;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FEC107;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FEC107;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FEC107;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FEC107;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #FEC107;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FEC107;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FEC107;
  }
  
/*styling the rang input start*/  
.pageone>.container>.contenu>.sidebar>.one>div{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.pageone>.container>.contenu>.sidebar>.one>div>#max,
.pageone>.container>.contenu>.sidebar>.one>div>#min{
    max-width: 120px;
    outline: none;
    caret-color: #fec107;
    height: 40px;
    padding-left: 10px;
    color: #fec107;
    background-color: transparent;
    border: 1px solid white ;
    border-radius: 10px;
}
.pageone>.container>.contenu>.sidebar>.one>div>#max:hover,
.pageone>.container>.contenu>.sidebar>.one>div>#min:hover{
    border: 1px solid #fec107 ;
}
.pageone>.container>.contenu>.sidebar>.one>div>input::placeholder{
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;

}
.pageone>.container>.contenu>.sidebar>.two{
    border-bottom: 0.5px solid #eeeeee6a;
}
.pageone>.container>.contenu>.sidebar>.two>div{
    display: flex;
    margin-bottom: 10px;
    column-gap: 20px;    
}
.pageone>.container>.contenu>.sidebar>.two>div>p{
    margin-bottom: 0px;
}
.pageone>.container>.contenu>.sidebar>.two>h4{
    text-align: center;
    color: #fec107;
    margin-bottom: 20px;
}
.pageone>.container>.contenu>.sidebar>.two>div>input{
    background-color: #fec107;
    color: #fec107;
}


.pageone>.container>.contenu>.section{
    display: grid;
    grid-template-rows: 100px 100px 60px repeat(5,260px) ;
    height: max-content;
}
.pageone>.container>.contenu>.section>.hberg{
    width: 100%;
    height: max-content;
    border: 1px solid #eeeeee6a;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.pageone>.container>.contenu>.section>.hberg>p{
    color: white;
    margin: 0px;
    font-size: 18px;

}
.pageone>.container>.contenu>.section>.hberg>select{
    background-color: #fec00723;
    width: 40%;
    height: 50px;
    outline: none;
    border: 1px solid #eeeeee6a ;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    
}
.pageone>.container>.contenu>.section>.hberg>select:focus{
    background-color:#fec007;
}
.pageone>.container>.contenu>.section>.cart{
    background-image: url(../images/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 10px;
}
.pageone>.container>.contenu>.section>.cart>div{
    background-color: #FEC107;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    height: max-content;
    outline: 5px solid #fbbc0085;
    cursor: pointer;
    
}
.pageone>.container>.contenu>.section>.cart>div>p{
    line-height: 40px;
    margin: 0px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
}
.pageone>.container>.contenu>.section>.filt{
    display: grid;
    grid-template-columns: repeat(auto-fill,150px);
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    row-gap: 10px;
}
.pageone>.container>.contenu>.section>.filt>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eeeeee6a;
    border-radius: 10px;
    cursor: pointer;

}
.pageone>.container>.contenu>.section>.filt>div>p{
    margin-bottom: 0px;
}
.pageone>.container>.contenu>.section>.filt>div:hover{
    border: 1px solid #FEC107;
}
.pageone>.container>.contenu>.section>.filt>div:hover>i{
    color: #FEC107;
    cursor: pointer;
}

.pageone>.container>.contenu>.section>#results{
    width: 100%;
    border: solid 1px #eeeeee6a;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    color: white;    
    position: relative;
}


.pageone>.container>.contenu>.section>.result-one>div:nth-child(1){
    background-image: url(../images/marrakech-htel.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.pageone>.container>.contenu>.section>.result-two>div:nth-child(1){
    background-image: url(../images/ibn-hdo-kasba.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.pageone>.container>.contenu>.section>.result-three>div:nth-child(1){
    background-image: url(../images/hotel-elsalam.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.pageone>.container>.contenu>.section>.result-four>div:nth-child(1){
    background-image: url(../images/etalj-hotel.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pageone>.container>.contenu>.section>#results>div:nth-child(1){
    width: 300px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2){
    display: grid;
    padding: 10px 0px 10px 0px;
    grid-template-rows: repeat(4,40px) 1fr;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>p{
    font-weight:200;
    color: #eeeeee6a;
    margin-bottom: 0px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>h4{
    margin-bottom: 0px;
    height: max-content;
    font-size:25px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>div:nth-child(3){
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>div:nth-child(3)>p{
    font-weight: 200;
    font-size: 12px;
    background-color: #FF1234;
    width: max-content;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 10px;
    height: max-content;
    padding: 3px;
    margin-bottom: 0px;

}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>div:nth-child(4){
    display: flex;
    column-gap: 10px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>div:nth-child(4)>a{
    display: block;
    color: white;
    text-decoration:underline !important;
    font-size: 12px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(2)>h6:nth-child(5){
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(3){
    position: absolute;
    right: 15px;
    padding-top: 50px;
    text-align: end;
    width: 30%;

}
.pageone>.container>.contenu>.section>#results>div:nth-child(3)>h2{
    font-weight: 600;
    font-size: 25px;
    color: #fec007;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(3)>p{
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffffaf;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(3)>h6{
    color: #ffffffaf;
    margin-bottom: 40px;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(3)>div{
    position: absolute;
    right: 0px;
    text-align: center;
    background-color: #FEC107;
    outline: solid 5px #fec00750;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    color:black;
}
.pageone>.container>.contenu>.section>#results>div:nth-child(3)>div>p{
    margin: 0px;

}